.monkaS {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 50%;
}
html {
    background-color: beige;
}
.monkaS:hover {
    transform: scale(1.25);
}
audio {
    display: block;
    width: 100%;
    padding-top: 50px;
}
.row {
    display: flex;
}
.column {
    width: 75%;
    margin: auto;
    padding: 20px;
}
.box {
    border: 1px solid grey;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
    background-color: forestgreen
}
.box p {
    background-color: sandybrown;
}
.box h1 {
    background-color: chocolate;
}